<div data-dojo-attach-point="dataNode">
  <div class="expander-controls" data-dojo-attach-point="expanderControls" style="display: none;">
    <div style="width: 100%; float: left;">
    <div style="float: left; font-size: 20px;">Er werden <span data-dojo-attach-point="referenceCount" style="font-weight: bold;">0</span> referenties gevonden.</div>
    <small><a href="#" data-dojo-attach-event="onClick: _closeAll" title="Verberg alles"><i class="fa fa-chevron-up"></i> Alles verbergen</a></small>
    <small><a href="#" data-dojo-attach-event="onClick: _openAll"><i title="Toon alles" class="fa fa-chevron-down"></i> Alles tonen</a></small>
      </div>
    <div style="float: left;"><small>(Max. 5 referenties per applicatie getoond)</small></div>
  </div>
  <div class="expander-container" data-dojo-attach-point="expanderContainer">
    <div data-dojo-attach-point="referenceLoadingMessage">
      <div><i class="fa fa-spinner fa-pulse"></i>&nbsp;Er wordt gezocht naar referenties..</div>
    </div>
  </div>
</div>