<div data-dojo-attach-point="dataNode" class="urireferencer">
  <div data-dojo-attach-point="referenceLoadingMessage">
    <div><i class="fa fa-spinner fa-pulse"></i>&nbsp;Er wordt gezocht naar referenties..</div>
  </div>
  <div class="expander-controls" data-dojo-attach-point="expanderControls" style="display: none;">
    <div style="width: 100%; float: left;">
      <div style="float: left; font-size: 20px;"><span data-dojo-attach-point="referenceCount"></span></div>
      <small><a href="#" data-dojo-attach-event="onClick: _closeAll" title="Verberg alles"><i class="fa fa-chevron-up"></i> Alles verbergen</a></small>
      <small><a href="#" data-dojo-attach-event="onClick: _openAll"><i title="Toon alles" class="fa fa-chevron-down"></i> Alles tonen</a></small>
    </div>
    <div data-dojo-attach-point="zichtbaarheidsNodeContainer" class="hide">
      <i class="fa fa-info-circle"></i> <span data-dojo-attach-point="zichtbaarheidsNode"></span>
    </div>
  </div>
  <div class="expander-container" data-dojo-attach-point="expanderContainer">
  </div>
</div>